<h1 class="cadastro">Editando Perfil</h1>
<div class="cadastro">
  <%= render 'form' %>
</div>

<div class="cadastro">
  <%= link_to 'Voltar', contacts_path, class: "btn btn-default" %>
  <%= link_to 'Apagar', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>

